
@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }


  .header-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-style: normal;}

.hero{
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
}
.hero-titel{
    font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        margin-bottom: 48px;
        width: 496px;
        text-align: center;
        margin-left: auto;
        margin-right: auto
}


/*-------section features------*/



 .illustration-content {
     width: 264px;
            height: 112px;
            background-color: rgba(244, 244, 253, 1);
            border-radius: 4px;
            display: flex;
             align-items: center;
            justify-content: center;
            margin-bottom: 8px;

}


.section {
    padding: 120px 0;
}
/*------section team--------*/
 .section-team {
            padding-top: 120px;
            padding-bottom: 120px;
        background-color: var(--light-color-button);
        }
        .section-team-titel{
            font-size: 36px;
                line-height: 1.1;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: var(--dark-color);
                margin-bottom: 72px;
        }
 .team-item {
    width: calc((100% - 72px) / 4);
 }
 .team-list{
    display: flex;
    
 }
 /*--------SEction Customers---------*/
 .customers{
     padding-top: 120px;
     padding-bottom: 120px;
     max-width: 1128px;
     margin-left: auto;
     margin-right: auto;
 }
 .customers-list {
     display: flex;
     gap: 24px;
     justify-content: center;
 }
 .customers-container{
    max-width: 1128px;
 }

 
        }


            

           
       

 

   

