@media screen and (min-width:480) {
    .container{
        max-width: 428px;
    }
.container{
    width: 100%;
    margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mob.jpg);
}
.header-nav-wrap{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

/*--------SEction Customers---------*/

.customers-container {
    padding-top: 96px;
    padding-bottom: 96px;
}


}


 