
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

        .header-navigation{
            display: block;
        }
                .header-mail{
                   flex: box;
                }
       
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-tablet.jpg);
        }
        .hero-titel {
            font-size: 56px;
        }

                /*section features*/

        .feature-titel {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark-color);
        margin-bottom: 8px;}

    .feature-subtitel{
        
    }
   .feature-item {
    max-width: calc((100 - 24px) / 2);
  

   }
.list{
    
    padding: 0;
    margin: 0;
    
}
.feature-list{
    
 display: flex;
    flex-wrap: wrap;
    
    column-gap: 24px;
    row-gap: 72px;
}


/*section team*/
 .section-team {
     padding-top: 96px;
     padding-bottom: 96px;

 }
.team-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
}

.team-item {
    
    width: calc((100% - 24px) / 2);
}
.list{
    display: flex;
}
  
/*--------SEction Customers---------*/

.customers{
    padding-top: 96px;
        padding-bottom: 96px;
}


.customers-container {
    max-width: 768px;
   
}
 .customers-list {
     column-gap: 24px;
 }


}
@media screen and (min-width: 768px) ,(max-width:1199px){
    .container-sm{
        max-width: 552px;
    }
    .customers-item{
        width: 168 px;
    }
        .customers-container {
            max-width: 552px;
    
        }



}